 html, body {
    height: 100%;
    margin: 0;
}

#hoja {
    width: 100%;
    min-height: 100%;
    max-width: 1200px; /* ancho máximo en pantallas grandes */
    margin: 0 auto;   /* centra en pantallas grandes */
    padding: 15px;    /* espacio interno */
    box-sizing: border-box;
}